.poster-card {
  width: 17vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--stack-dark-blue);
  border: 1px solid var(--accent-grey);
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 3px var(--accent-pink);
}

.poster-card:hover {
  transition: all 200ms ease-in-out;
  transform: scale(1.04);
  box-shadow: 0 0 12px #333;
}

.poster-img {
  max-height: 55vh;
  border-radius: 0.8rem;
}

.poster-title {
  border-bottom: 1px solid var(--stack-grey);
  font-size: 1.4rem;
}

.poster-footer {
  width: 15vw;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

.footer-l {
  text-align: left;
}

.footer-r {
  text-align: right;
}

.label {
  font-size: 0.7rem;
}

.detail-pair {
  display: flex;
  flex-direction: column;
}

.stars {
  transform: translate(-0.3vw, 0);
}
