.login-view {
  width: 75vh;
  height: 50vh;
  margin: 3vh auto;
  background-color: var(--stack-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-pink);
  border-radius: 0.3rem;
}
