.single-view {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.backdrop-img {
  max-width: 45vw;
  max-height: 50vh;
  padding: 0.5rem;
}

.single-movie-details, .review-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--stack-dark-blue);
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 3px var(--accent-pink);
  padding-bottom: 2rem;
}

.movie-detail {
  width: 50ch;
  border-bottom: 1px solid var(--stack-grey);
  margin: 0 0.5rem;
}

.movie-detail-error {
  margin-bottom: 20vh;
  padding: 0 1rem;
}

.review-view {
  height: 20vh;
  justify-content: space-around;
}
